/* Painel de filtros */
.filter-panel {
    position: fixed;
    top: 80px;
    left: 0;
    width: 250px;
    background-color: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #ddd;
    transition: transform 0.3s ease, height 0.3s ease;
    z-index: 1000;
}

.filter-panel.minimized {
    height: 40px;
    width: 120px;
    overflow: hidden;
    cursor: pointer;
}

.filter-panel.minimized::after {
    content: "Filtro";
    display: block;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    color: #000;
}

/* Fundo amarelo para lançamentos pendentes */
.pending {
    background-color: #fff3cd !important;
}

/* Cores para créditos e débitos */
td.credit {
    color: green !important;
    
}

td.debit {
    color: red !important;
    
}

/* Mantém a formatação do totalizador */
tfoot td {
    color: black;
    font-weight: bold;
}

/* Ajusta o fundo da linha inteira para lançamentos pendentes */
.pending td {
    background-color: #fff3cd !important;
}


/* Estilização do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.editar-btn, .excluir-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 5px;
    transition: color 0.3s;
}

.editar-btn {
    color: #007bff; /* Azul para edição */
}

.editar-btn:hover {
    color: #a2caf5;
}

.excluir-btn {
    color: #dc3545; /* Vermelho para excluir */
}

.excluir-btn:hover {
    color: #f08d97;
}

