/* Estilos para a Página de Categorias */
table {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 150px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

tbody td {
    padding: 12px;
    border: 1px solid #ddd;
}

/* Ícones de ação */
.actions i {
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.actions i:hover {
    color: #0056b3;
}

/* Paleta de cores */
.color-picker {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

section {
    margin-top: -20px;
    padding-top: 0;
}

h1 {
  margin-top: 30; 
  margin-bottom: 10px; /* ajusta conforme desejar */
}

form #form-categoria {
  margin-bottom: 0; /* se estiver com margem padrão */
  padding: 0;       /* se houver padding padrão */
}
